<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Similarity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div *ngIf="showLogin">
  <div class="card" style="width: 19rem; margin-top: 100px; margin-left: 13px; height: 350px">
    <div class="card-body">
      <h5 class="card-title text-center">Login</h5>
      <form [formGroup]="loginForm" style="width: 240px ; margin-top: 30px;">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Enter Username" formControlName="username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <p *ngIf ="failure"style="color: red; font-size: 15px; margin-left: 10px;">*{{error}}</p>
        <button type="button" class="btn btn-primary"  style="width: 100px; margin-left: 80px;" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf = "!showLogin" class="text-center" style="padding: 20px; font-size: 16px;">
Welcome {{name}}  |  <button class="btn btn-sm btn-primary"  (click)="logout()">Logout</button>
</div>

  <p *ngIf = "!showLogin" style="padding: 20px; font-size: 20px;"><b>Welcome to AI based Smart Clinical Content Recommendation.</b>
    <br><br>
    *Select the text and click on Get Recommendation button.
  </p>
  <button *ngIf="!showLogin" (click)="run()" type="button" class="btn btn-primary" style="border-radius: 20px; margin-left:80px; margin-top: 10px;;">Get Reccomendation</button>  
  <button (click)="hide()"  *ngIf="showDiff" type="button" class="btn btn-primary text-center" style="width: 100px; margin-left:115px ;margin-top:40px">Back</button>
  <hr  *ngIf="showDiff">
  <div *ngIf="showDiff" style="padding: 10px; margin-top: 20px;">
    <b> Input Text :</b><br><br>
    {{data.input_text}}
  </div>
  <hr  *ngIf="showDiff">
  <div *ngIf="showDiff" style="padding: 10px;">
    <b>Compared Text :</b><br><br>
    {{selectedText}}
  </div>
  <hr  *ngIf="showDiff">
  <p *ngIf="showDiff" style="margin-left:10px">    
    <b>Comparison:</b>
  </p>
  <div id="text" style="padding: 10px;"></div>
  <hr  *ngIf="showDiff">
  <table class="table"  *ngIf="showSimilarity" style="margin-top: 30px;">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let item of list">
          <td>
            {{item.text}}<br><br>
            Similarity : {{(1- item.similarity_distance) * 100 | round }}%<br>
            <button (click)="show(item.text)" type="button" class="btn btn-primary" style="width: 100px;">Compare</button>
          </td>
        </tr>
      </tbody>
    </table> 
</body>
</html>